@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #EF7722;
}

#page
{
	z-index: 1;
	width: 1024px;
	high:768;
        min-height: 1023.8197368421074px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F07722;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: 84px;
}

#pu891
{
	width: 0.01px;
	position: relative;
}

#u891
{
	z-index: 2;
	width: 233px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u891:hover
{
	margin: 0px -10000px 0px 0px;
}

#u891:active
{
	margin: 0px -10000px 0px 0px;
}

#ppu1053
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 253px;
}

#u1053
{
	z-index: 247;
	height: 126px;
	width: 134px;
	vertical-align: top;
	background: url("../images/u1053.png") no-repeat 9px 9px;
	margin-left: 368px;
	position: relative;
}

#u1053:hover
{
	background: url("../images/u1053-r.png") no-repeat 0px 0px;
}

#u1055-4
{
	z-index: 249;
	width: 420px;
	min-height: 68px;
	line-height: 94px;
	text-align: center;
	font-size: 78px;
	color: #FFFFFF;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#accordionu898wrapper
{
	min-height: 1386px;
	display: inline;
	float: left;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#accordionu898
{
	z-index: 4;
	width: 770px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u899
{
	z-index: 5;
	width: 770px;
	position: relative;
}

#u900-4
{
	z-index: 6;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u900-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u900-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u901
{
	z-index: 10;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
}

#u903
{
	z-index: 11;
	width: 218px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u902-6
{
	z-index: 13;
	width: 484px;
	min-height: 155px;
	line-height: 35px;
	text-align: right;
	font-size: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 267px;
}

#u1018
{
	z-index: 19;
	width: 770px;
	position: relative;
}

#u1019-4
{
	z-index: 20;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1019-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u1019-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u1020
{
	z-index: 24;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u1024-3
{
	z-index: 25;
	width: 340px;
	min-height: 105px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 10px;
}

#u1023-4
{
	z-index: 28;
	width: 544px;
	min-height: 154px;
	line-height: 36px;
	text-align: right;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 212px;
}

#u1021
{
	z-index: 32;
	width: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 7px;
}

#u1010
{
	z-index: 34;
	width: 770px;
	position: relative;
}

#u1011-4
{
	z-index: 35;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1011-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u1011-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u1012
{
	z-index: 39;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u1016
{
	z-index: 45;
	width: 112px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 25px;
}

#u1014
{
	z-index: 47;
	width: 112px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 137px;
}

#u1013-5
{
	z-index: 40;
	width: 360px;
	min-height: 82px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 385px;
}

#u944
{
	z-index: 49;
	width: 770px;
	position: relative;
}

#u945-4
{
	z-index: 50;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u945-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u945-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u946
{
	z-index: 54;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u947
{
	z-index: 59;
	width: 167px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 13px;
}

#u947_img
{
	padding-right: 1px;
}

#u949-4
{
	z-index: 55;
	width: 307px;
	min-height: 49px;
	line-height: 36px;
	text-align: right;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 454px;
}

#u955
{
	z-index: 61;
	width: 770px;
	position: relative;
}

#u956-4
{
	z-index: 62;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u956-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u956-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u957
{
	z-index: 66;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
}

#u958
{
	z-index: 67;
	width: 325px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u960-5
{
	z-index: 69;
	width: 243px;
	min-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 518px;
}

#u982
{
	z-index: 74;
	width: 770px;
	position: relative;
}

#u987-4
{
	z-index: 75;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u987-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u987-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u983
{
	z-index: 79;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u985
{
	z-index: 85;
	width: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u984-5
{
	z-index: 80;
	width: 330px;
	min-height: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 431px;
}

#u1025
{
	z-index: 87;
	width: 770px;
	position: relative;
}

#u1026-4
{
	z-index: 88;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1026-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u1026-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u1027
{
	z-index: 92;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u1029
{
	z-index: 97;
	width: 215px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 44px;
}

#u1028-4
{
	z-index: 93;
	width: 341px;
	min-height: 74px;
	line-height: 36px;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 427px;
}

#u994
{
	z-index: 99;
	width: 770px;
	position: relative;
}

#u995-4
{
	z-index: 100;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u995-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u995-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u996
{
	z-index: 104;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u997
{
	z-index: 110;
	width: 229px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u999-5
{
	z-index: 105;
	width: 335px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 413px;
}

#u988
{
	z-index: 112;
	width: 770px;
	position: relative;
}

#u993-4
{
	z-index: 113;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u993-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u993-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u989
{
	z-index: 117;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u990
{
	z-index: 118;
	width: 300px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 3px;
}

#u992-5
{
	z-index: 120;
	width: 471px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 294px;
}

#u961
{
	z-index: 125;
	width: 770px;
	position: relative;
}

#u966-4
{
	z-index: 126;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u966-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u966-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u962
{
	z-index: 130;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u963
{
	z-index: 136;
	width: 201px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u963_img
{
	padding-bottom: 1px;
}

#u965-5
{
	z-index: 131;
	width: 447px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 319px;
}

#u916
{
	z-index: 138;
	width: 770px;
	position: relative;
}

#u921-4
{
	z-index: 139;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u921-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u921-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u917
{
	z-index: 143;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u919
{
	z-index: 144;
	width: 227px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u918-5
{
	z-index: 146;
	width: 531px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 236px;
}

#u960-2,#u984-2,#u999-2,#u992-2,#u965-2,#u918-2
{
	font-size: 30px;
	line-height: 36px;
}

#u922
{
	z-index: 151;
	width: 770px;
	position: relative;
}

#u927-4
{
	z-index: 152;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u927-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u927-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u923
{
	z-index: 156;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u924
{
	z-index: 157;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 6px;
}

#u926-5
{
	z-index: 159;
	width: 525px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 219px;
}

#u910
{
	z-index: 164;
	width: 770px;
	position: relative;
}

#u911-4
{
	z-index: 165;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u911-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u911-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u912
{
	z-index: 169;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u913
{
	z-index: 175;
	width: 288px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u915-5
{
	z-index: 170;
	width: 466px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 293px;
}

#u928
{
	z-index: 177;
	width: 770px;
	position: relative;
}

#u929-4
{
	z-index: 178;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u929-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u929-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u930
{
	z-index: 182;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u932
{
	z-index: 188;
	width: 168px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u931-5
{
	z-index: 183;
	width: 426px;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 325px;
}

#u1013-2,#u926-2,#u915-2,#u931-2
{
	font-size: 30px;
	text-align: right;
	line-height: 36px;
}

#u905
{
	z-index: 190;
	width: 770px;
	position: relative;
}

#u909-4
{
	z-index: 191;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u909-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u909-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u906
{
	z-index: 195;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u907
{
	z-index: 196;
	width: 267px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 251px;
}

#u950
{
	z-index: 198;
	width: 770px;
	position: relative;
}

#u951-4
{
	z-index: 199;
	width: 758px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u951-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 31px;
	width: 758px;
	margin: 0px;
}

#u951-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 31px;
	width: 758px;
	margin: 0px;
}

#u951-4.AccordionPanelTabOpen
{
	background-color: #D9D2CA;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 31px;
	width: 758px;
	margin: 0px;
}

#u952
{
	z-index: 203;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u953
{
	z-index: 204;
	width: 267px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 251px;
}

#u934
{
	z-index: 206;
	width: 770px;
	position: relative;
}

#u935-4
{
	z-index: 207;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u935-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u935-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u936
{
	z-index: 211;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u937
{
	z-index: 212;
	width: 650px;
	position: relative;
	margin-right: -10000px;
	left: 55px;
}

#u939
{
	z-index: 214;
	width: 770px;
	position: relative;
}

#u943-4
{
	z-index: 215;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u943-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u943-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u940
{
	z-index: 219;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u941
{
	z-index: 220;
	width: 246px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 228px;
}

#u977
{
	z-index: 222;
	width: 770px;
	position: relative;
}

#u981-4
{
	z-index: 223;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u981-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u981-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u978
{
	z-index: 227;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u979
{
	z-index: 228;
	width: 269px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 256px;
}

#u967
{
	z-index: 230;
	width: 770px;
	position: relative;
}

#u971-4
{
	z-index: 231;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u971-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u971-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u968
{
	z-index: 235;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u969
{
	z-index: 236;
	width: 350px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 202px;
}

#u972
{
	z-index: 238;
	width: 770px;
	position: relative;
}

#u973-4
{
	z-index: 239;
	width: 758px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F07722;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u973-4:hover
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u973-4:active
{
	background-color: #C8C3C3;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u900-4.AccordionPanelTabOpen,#u1019-4.AccordionPanelTabOpen,#u1011-4.AccordionPanelTabOpen,#u945-4.AccordionPanelTabOpen,#u956-4.AccordionPanelTabOpen,#u987-4.AccordionPanelTabOpen,#u1026-4.AccordionPanelTabOpen,#u995-4.AccordionPanelTabOpen,#u993-4.AccordionPanelTabOpen,#u966-4.AccordionPanelTabOpen,#u921-4.AccordionPanelTabOpen,#u927-4.AccordionPanelTabOpen,#u911-4.AccordionPanelTabOpen,#u929-4.AccordionPanelTabOpen,#u909-4.AccordionPanelTabOpen,#u935-4.AccordionPanelTabOpen,#u943-4.AccordionPanelTabOpen,#u981-4.AccordionPanelTabOpen,#u971-4.AccordionPanelTabOpen,#u973-4.AccordionPanelTabOpen
{
	background-color: #D9D2CA;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 758px;
	margin: 0px;
}

#u900-4.AccordionPanelTabOpen p,#u1019-4.AccordionPanelTabOpen p,#u1011-4.AccordionPanelTabOpen p,#u945-4.AccordionPanelTabOpen p,#u956-4.AccordionPanelTabOpen p,#u987-4.AccordionPanelTabOpen p,#u1026-4.AccordionPanelTabOpen p,#u995-4.AccordionPanelTabOpen p,#u993-4.AccordionPanelTabOpen p,#u966-4.AccordionPanelTabOpen p,#u921-4.AccordionPanelTabOpen p,#u927-4.AccordionPanelTabOpen p,#u911-4.AccordionPanelTabOpen p,#u929-4.AccordionPanelTabOpen p,#u909-4.AccordionPanelTabOpen p,#u951-4.AccordionPanelTabOpen p,#u935-4.AccordionPanelTabOpen p,#u943-4.AccordionPanelTabOpen p,#u981-4.AccordionPanelTabOpen p,#u971-4.AccordionPanelTabOpen p,#u973-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
	font-size: 30px;
}

#u974
{
	z-index: 243;
	width: 768px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u975
{
	z-index: 244;
	width: 314px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 222px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#page .verticalspacer
{
	clear: both;
}

